body {
font-family: 'Roboto', sans-serif;
background-color: #fff;
color: #757575;
}

:root {
    --brand-color: #212121;
    --bluebrand-clor: #2196f3;
    --discription-color: #757575; 
    --margin-bottom:10px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}
/* logo*/

.web {
    color: var(--bluebrand-clor);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.studio {
    color: var(--brand-color);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

/* nav */

.countainer {
    width: 1200px;
    padding-left: 215px;
    padding-right: 215px;
    margin: 0 auto;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.header {
padding-top: 24px;
padding-bottom: 25px;
}

.site-nav .link {
    color: var(--brand-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
}


.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--bluebrand-clor);
}

.site-nav .link.current {
    color: var(--bluebrand-clor);
}

.auth-nav .link {
    color: var(--discription-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
}

.auth-nav .link:hover,
.auth-nav .link:focus {
    color: var(--bluebrand-clor);
}



.hero {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;

    background-color:#2F303A;
}
.hero-title {
    padding-bottom: 30px;

    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
}

.hero-button {
    color: #FFFFFF;
    background-color: var(--bluebrand-clor);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    cursor: pointer;
    letter-spacing: 0.06em;
}

.particular-title {
    margin-bottom: var(--margin-bottom);

    color: var(--brand-color);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
}

.particular-txt {
    color: var(--discription-color);
    font-size: 14px;
    line-height: 1.71;
}

.work-title {
    margin-bottom: 50px;

    color: var(--brand-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
}

.team {
    background-color: #F5F4FA;

}

.team-title {
    margin-bottom: 50px;

    color: var(--brand-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
}

.name {
    margin-bottom: var(--margin-bottom);

    color: var(--brand-color); 
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
}

/* footer */
.page-footer {
    padding-bottom: 60px;
    padding-top: 60px;
    
    background-color: #2F303A;
    font-style: normal;
}

.street {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 1.71;
}

.address-page .link {
    color:rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.71;
}

.address-page .link:hover,
.address-page .link:focus {
    color: var(--bluebrand-clor);
}

.studio-footer{
    color: #FFFFFF;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

.main-button {
    color:var(--brand-color) ;
    background-color: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
}

.main-button:hover,
.main-button:focus {
    color: #fff;
    background-color: var(--bluebrand-clor);
}

.project-titel{
    margin-bottom: 4px;
    
    color: var(--brand-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
}